@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

main {
    min-height: 768px;
}

#chamada {
    height: 250px;
    width: 90%;
    background-color: #4682B4;
    margin-top: 40px;
    border-radius: 25px;
}

#chamada h1 {
    color: red;
    font-size: 7em ;
    margin-top: 45px;
    text-align: center;
}

#chamada h2 {
    color: #FFF;
    font-size: 6em;
    width: 100%;
    margin-top: 55px;
}

#data-hora {
    text-align: center;
    margin: 25px 0 15px 0;
    font-size: 2em;
    color: blue;
    font-weight: bold;
}

#historico {
    margin-top: 30px;
}

/*Painel de Botões*/

.titulo_painel {
    text-align: center;
    margin: 25px ;
}

.painelBotoes {
    padding: 5%;
    text-align: center;
}

.painelBotoes a .btn {
    margin: 10px;
    height: 200px;
    width: 90%;
}

.painelBotoes a .btn span {
    position: relative;
    top: 35%;
    font-size: 1.8em;
}