@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

main {
    min-height: 768px;
}

#chamada {
    height: 250px;
    width: 90%;
    background-color: #4682B4;
    margin-top: 40px;
    border-radius: 25px;
}

#chamada h1 {
    color: red;
    font-size: 7em ;
    margin-top: 45px;
    text-align: center;
}

#chamada h2 {
    color: #FFF;
    font-size: 6em;
    width: 100%;
    margin-top: 55px;
}

#data-hora {
    text-align: center;
    margin: 25px 0 15px 0;
    font-size: 2em;
    color: blue;
    font-weight: bold;
}

#historico {
    margin-top: 30px;
}

/*Painel de Botões*/

.titulo_painel {
    text-align: center;
    margin: 25px ;
}

.painelBotoes {
    padding: 5%;
    text-align: center;
}

.painelBotoes a .btn {
    margin: 10px;
    height: 200px;
    width: 90%;
}

.painelBotoes a .btn span {
    position: relative;
    top: 35%;
    font-size: 1.8em;
}

/*Tela de Cadastro de Ambientes*/
#list_ambiente {
    margin-top: 35px;
}

/*Tela de Guiche*/

.btn-3d {
    position: relative;
    border: 0;
    transition: all 40ms linear;
    margin: 10px 2px;
    text-align: center;
    width: 100%;
}

.btn-3d p {
    margin-top: 7px;
}

.btn-3d:active:focus,
.btn-3d:focus:hover,
.btn-3d:focus {
    -moz-outiline-style: none;
    outline: medium none;
}

.btn-3d:active,
.btn-3d.active {
    top: 2px;
}

.btn-3d.btn-primary {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4d5bbe, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #4274d7;
}

.btn-3d.btn-primary:active,
.btn-3d.btn-primary.btn-3d:active {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, .15) inset, 0 1px 3px 1px rgba(0, 0, 0, .3);
    background-color: #4274d7;
}