<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Painel de Chamadas</title>

    <script src="https://kit.fontawesome.com/006642858d.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container" id="form_cadastro">

        <h1 class="titulo_painel">
            Cadastro de Frases
        </h1>

        <hr>

        <form th:action="@{/saveFrase}" method="post" th:object="${frase}">

            <div class="form-group col-md-6">
                <input type="text" th:field="*{frase}" placeholder="Digite a Frase a ser chamada no painel..." id="frase" class="form-control" autofocus="autofocus">
            </div>

            <div class="form-group col-md-4">

                <label for="locais">Local</label>
                <select id="locais" class="form-select floatingSelect" aria-label="Floating label select example" th:field="*{ambiente}">
                    <option value="">Escolha o Local</option>
                    <option th:each="a : ${list_ambiente}" th:value="${a.id}" th:text="${a.nome}"></option>
                </select>
            </div>

            <div class="cadastro">
                <br>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a href="" th:href="@{/}"><button type="button" class="btn btn-info">Voltar</button></a> 
            </div>
        </form>
        
    </div>

    <div id="list_frase" class="container">
        <h3>Ambientes Cadastrados</h3>
        <hr>

        <table class="table table-bordered table-hover">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Frase</th>
                <th scope="col">Local</th>
                <th scope="col">Ações</th>
            </thead>
            <tbody>
                <tr scope="row" th:each="f : ${list_frase}">
                    <td th:text="${f.id}"></td>
                    <td th:text="${f.frase}"></td>
                    <td th:text="${f.ambiente.nome}"></td>
                    <td>
                        <a th:href="@{fraseCadastro/alterarFrase/{id}(id=${f.id})}"><button class="btn btn-outline-success"><i class="fas fa-edit"></i></button></a>
                        <a th:href="@{excluirFrase/{id}(id=${f.id})}"><button class="btn btn-outline-danger"><i class="fas fa-times"></i></button></a>                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/js/script.js"></script>

    <script src="/webjars/jquery/3.6.3/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>