<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Painel de Chamadas</title>

    <script src="https://kit.fontawesome.com/006642858d.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container" id="form_cadastro">

        <h1 class="titulo_painel">
            Cadastro de Frases
        </h1>

        <hr>

        <form th:action="@{/alterarFrase}" method="post" th:object="${frase}">

            <input type="hidden" th:field="*{id}">

            <div class="form-group col-md-6">
                <input type="text" th:field="*{frase}" placeholder="Digite a Frase a ser chamada no painel..." id="frase" class="form-control" autofocus="autofocus">
            </div>

            <div class="form-group col-md-4">

                <label for="locais">Local</label>
                <select id="locais" class="form-select floatingSelect" aria-label="Floating label select example" th:field="*{ambiente}">
                    <option value="">Escolha o Local</option>
                    <option th:each="a : ${list_ambiente}" th:value="${a.id}" th:text="${a.nome}"></option>
                </select>
            </div>

            <div class="cadastro">
                <br>
                <button type="submit" class="btn btn-primary">Alterar</button>
                <a href="" th:href="@{/fraseCadastro}"><button type="button" class="btn btn-info">Cancelar</button></a> 
            </div>
        </form>
        
    </div>

    <script src="/js/script.js"></script>

    <script src="/webjars/jquery/3.6.3/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>