<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel De Chamadas</title>

    <script src="https://kit.fontawesome.com/006642858d.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container" id="guiche_chamada">

        <h1 class="titulo_painel">
            Chamar no Painel
        </h1>

        <hr>

        <form action="">

            <div id="form-select">
                <div class="form-group">

                    <label for="floatingSelect">Escolha o Local</label>

                    <select class="form-select floatingSelect" aria-label="Floating label select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>                                        
                </div>

                <div class="form-group">

                    <label for="floatingSelect">Escolha o Guiche</label>

                    <select class="form-select floatingSelect" aria-label="Floating label select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>                                        
                </div>
            </div>           
        </form>

        <br>
        <hr>
        <br>

    </div>

    <script src="/js/script.js"></script>

    <script src="/webjars/jquery/3.6.3/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>