<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel De Chamadas</title>

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">

        <h1 class="titulo_painel">Painel De Controle</h1>

        <hr>

        <div class="container painelBotoes">

            <div class="row">
                <div class="col-4">
                    <a href="" th:href="@{ambienteCadastro}">
                        <div class="btn btn-primary">
                            <span>Ambientes</span>
                        </div>
                    </a>                                        
                </div>
                <div class="col-4">
                    <a href="">
                        <div class="btn btn-success">
                            <span>Guiches</span>
                        </div>
                    </a>                                        
                </div>
                <div class="col-4">
                    <a href="">
                        <div class="btn btn-danger">
                            <span>Frases</span>
                        </div>
                    </a>                                        
                </div>
                <div class="col-4">                    
                    <a href="" th:href="@{painelChamada}">
                        <div class="btn btn-info">
                            <span>Painel de Chamadas</span>
                        </div>
                    </a>                               
                </div>
            </div>
        </div>
    </div>   
    
    <script src="/js/script.js"></script>
</body>
</html>