<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel De Chamadas</title>

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <main>

        <div id="data-hora">
        </div>

        <div class="container" id="chamada">

            <div class="row">
                <div class="col-4">
                    <h1>Sala 1</h1>
                </div>  
                <div class="col-8">
                    <h2>Retirar Paciente</h2>
                </div>
            </div>           
        </div>        

        <div class="container" id="historico">
            <h3>Histórico</h3>
            <hr>
            
            <table class="table table-bordered table-hover">
                <thead>
                    <th scope="col">Guiche</th>
                    <th scope="col">Ação</th>
                    <th scope="col">Data/Hora</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Sala 2</td>
                        <td>Injetar</td>
                        <td>11/04/2023 11:39:23</td>
                        <!--<td th:text="${alunos.turno}"></td>
                        <td th:text="${alunos.status}"></td>   
                        -->                     
                    </tr>
                    <tr>
                        <td>Sala 4</td>
                        <td>Retirar Paciente</td>
                        <td>11/04/2023 11:22:46</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="/js/script.js"></script>
    
</body>
</html>